<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mainserver.car.infrastructure.mapper.CarMapper">

    <select id="search" parameterType="map"
            resultType="com.example.common.domain.car.CarEntity">
        SELECT *
        FROM car c
        <where>
            <if test="filter.carNumber != null">
                AND car_number = #{filter.carNumber}
            </if>
            <if test="filter.status != null">
                AND status = #{filter.status}
            </if>
            <if test="filter.brand != null and filter.twoParam == true">
                AND brand LIKE CONCAT('%', #{filter.brand}, '%')
            </if>
            <if test="filter.model != null and filter.twoParam == true">
                AND model LIKE CONCAT('%', #{filter.model}, '%')
            </if>
            <if test="filter.brand != null and filter.twoParam == false">
                AND (brand LIKE CONCAT('%', #{filter.brand}, '%') 
                     OR model LIKE CONCAT('%', #{filter.brand}, '%')
                     OR CONCAT(brand, model) LIKE CONCAT('%', #{filter.brand}, '%'))
            </if>
        </where>
        ORDER BY car_number ASC
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="countByFilter"
            parameterType="map"
            resultType="int">

        SELECT COUNT(*)
        FROM car
        <where>
            <if test="filter.carNumber != null ">
                AND car_number = #{filter.carNumber}
            </if>
            <if test="filter.status != null ">
                AND status = #{filter.status}
            </if>
            <if test="filter.brand != null and filter.twoParam == true">
                AND brand LIKE CONCAT('%', #{filter.brand}, '%')
            </if>
            <if test="filter.model != null and filter.twoParam == true">
                AND model LIKE CONCAT('%', #{filter.model}, '%')
            </if>
            <if test="filter.brand != null and filter.twoParam == false">
                AND (brand LIKE CONCAT('%', #{filter.brand}, '%') 
                     OR model LIKE CONCAT('%', #{filter.brand}, '%')
                     OR CONCAT(brand, model) LIKE CONCAT('%', #{filter.brand}, '%'))
            </if>
        </where>
    </select>

</mapper>
