<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mainserver.drivelog.infrastructure.mapper.DriveLogMapper">
    <select id="search" parameterType="map"
            resultType="com.example.mainserver.drivelog.dto.DriveLogFilterResponseDto">

    SELECT c.car_number, c.brand, c.model, c.status, dl.start_time, dl.end_time, dl.start_point
           ,dl.end_point, dl.drive_dist, dl.memo FROM drive_log dl JOIN car c ON dl.car_id = c.car_id
    <where>
            <if test="filter.carNumber != null">
                AND c.car_number LIKE CONCAT('%', #{filter.carNumber}, '%')
            </if>
            <if test="filter.status != null">
                AND c.status = #{filter.status}
            </if>
            <if test="filter.brand != null and filter.twoParam == true">
                AND c.brand LIKE CONCAT('%', #{filter.brand}, '%')
            </if>
            <if test="filter.model != null and filter.twoParam == true">
                AND c.model LIKE CONCAT('%', #{filter.model}, '%')
            </if>
            <if test="filter.brand != null and filter.twoParam == false">
                AND (c.brand LIKE CONCAT('%', #{filter.brand}, '%') 
                     OR c.model LIKE CONCAT('%', #{filter.brand}, '%')
                     OR CONCAT(c.brand, c.model) LIKE CONCAT('%', #{filter.brand}, '%'))
            </if>
            <if test="filter.startTime != null and filter.endTime != null">
                AND dl.start_time <![CDATA[>=]]> CONCAT(#{filter.startTime}, ' 00:00:00')
                AND dl.start_time <![CDATA[<]]>  DATE_ADD(#{filter.endTime}, INTERVAL 1 DAY)
            </if>
    </where>
    ORDER BY
        <choose>
            <when test="filter.sortBy == 'carNumber'">c.car_number</when>
            <when test="filter.sortBy == 'startTime'">start_time</when>
            <when test="filter.sortBy == 'endTime'">end_time</when>
            <when test="filter.sortBy == 'brand'">c.brand</when>
            <when test="filter.sortBy == 'model'">c.model</when>
            <when test="filter.sortBy == 'startPoint'">start_point</when>
            <when test="filter.sortBy == 'endPoint'">end_point</when>
            <when test="filter.sortBy == 'driveDist'">dl.drive_dist</when>
            <when test="filter.sortBy == 'status'">
                CASE c.status
                    WHEN 'IDLE' THEN 1
                    WHEN 'MAINTENANCE' THEN 2
                    WHEN 'DRIVING' THEN 3
                    ELSE 4
                END
            </when>
        </choose>
        <choose>
        <when test="filter.sortOrder == 'ASC'">ASC</when>
        <when test="filter.sortOrder == 'DESC'">DESC</when>
        </choose>
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="countByFilter"
            parameterType="map"
            resultType="int">

        SELECT COUNT(*) FROM drive_log dl JOIN car c ON dl.car_id = c.car_id
        <where>
            <if test="filter.carNumber != null">
                AND c.car_number LIKE CONCAT('%', #{filter.carNumber}, '%')
            </if>
            <if test="filter.status != null">
                AND c.status = #{filter.status}
            </if>
            <if test="filter.brand != null and filter.twoParam == true">
                AND c.brand LIKE CONCAT('%', #{filter.brand}, '%')
            </if>
            <if test="filter.model != null and filter.twoParam == true">
                AND c.model LIKE CONCAT('%', #{filter.model}, '%')
            </if>
            <if test="filter.brand != null and filter.twoParam == false">
                AND (c.brand LIKE CONCAT('%', #{filter.brand}, '%') 
                     OR c.model LIKE CONCAT('%', #{filter.brand}, '%')
                     OR CONCAT(c.brand, c.model) LIKE CONCAT('%', #{filter.brand}, '%'))
            </if>
            <if test="filter.startTime != null and filter.endTime != null">
                AND dl.start_time <![CDATA[>=]]> CONCAT(#{filter.startTime}, ' 00:00:00')
                AND dl.start_time <![CDATA[<]]>  DATE_ADD(#{filter.endTime}, INTERVAL 1 DAY)
            </if>
        </where>
    </select>

</mapper>