<!-- resources/mappers/CarMapper.xml -->
<!--<!DOCTYPE mapper-->
<!--        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"-->
<!--        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">-->

<!--<mapper namespace="com.example._thecore_back.car.infrastructure.mapper.CarMapper">-->
<!--    <select id="search" resultType="CarEntity">-->
<!--        SELECT *-->
<!--        FROM car-->
<!--        <where>-->
<!--            <if test="carNumber != null">-->
<!--                AND car_number = #{carNumber}-->
<!--            </if>-->
<!--            <if test="model != null">-->
<!--                AND model = #{model}-->
<!--            </if>-->
<!--            <if test="brand != null">-->
<!--                AND brand = #{brand}-->
<!--            </if>-->
<!--            <if test="status != null">-->
<!--                AND status = #{status}-->
<!--            </if>-->
<!--        </where>-->
<!--    </select>-->

<!--</mapper>-->

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example._thecore_back.car.infrastructure.mapper.CarMapper">

    <select id="search" parameterType="com.example._thecore_back.car.controller.dto.CarFilterRequestDto"
            resultType="com.example._thecore_back.car.domain.CarEntity">
        SELECT *
        FROM car
        <where>
            <if test="carNumber != null and twoParam == true">
                AND car_number = #{carNumber}
            </if>
            <if test="status != null and twoParam == true">
                AND status = #{status}
            </if>
            <if test="brand != null and twoParam == true">
                AND brand = #{brand}
            </if>
            <if test="model != null and twoParam == true">
                AND model = #{model}
            </if>
            <if test="brand != null and twoParam == false">
                AND (brand = #{brand} OR model = #{brand})
            </if>
        </where>
    </select>

</mapper>
